albucore
albumentations
annotated-types
antlr4-python3-runtime
asttokens
certifi
chardet
charset-normalizer
colorama
coloredlogs
comm
contourpy
cycler
debugpy
decorator
einops
executing
filelock
flatbuffers
fonttools
fsspec
huggingface-hub
humanfriendly
idna
imageio
intel-openmp
ipykernel
ipython
jedi
Jinja2
joblib
jsonpickle
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mkl
more-itertools
mpmath
music21
nest-asyncio
networkx
numpy
omegaconf
onnxruntime
onnxruntime-gpu
opencv-python
packaging
parso
pdf2image
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
pyreadline3
python-dateutil
pywin32
PyYAML
pyzmq
regex
requests
safetensors
scikit-image
scikit-learn
scipy
six
stack-data
sympy
tbb
threadpoolctl
tifffile
timm
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wcwidth
webcolors
x-transformers
